
DbPortingProject/obj
DbPortingProject/bin
IvlSoft.Desktop/Properties/Settings.Designer.cs.orig
IntuSoftDemosaic/bin/
IntuSoftUSBController/bin/
GlaucomaToolMeasurements/bin/
Clahe/bin/
Common/bin/
ReportUtils/bin/
IvlSoft.Data/bin/
Camera/bin/
EventHandler/bin/
FormsInheritance/bin/
INTUSOFT.ThumbnailModule/bin/
IVLReport/bin/
IVLTemplateCreator/bin/
Annotation/bin/
WindowsFormsApplication1/bin/
IvlSoft.Desktop/bin/
Annotation/obj/
Common/obj/
ReportUtils/obj/
IvlSoft.Data/obj/
Camera/obj/
EventHandler/obj/
FormsInheritance/obj/
INTUSOFT.ThumbnailModule/obj/
IVLReport/obj/
IVLTemplateCreator/obj/
Annotation/obj/
WindowsFormsApplication1/obj/
IvlSoft.Desktop/obj/
/IVLSoft.sdf
/IVLSoft.opensdf
/IVLSoft.v11.suo



IvlSoft.Desktop/Release1.2.0.10/
IvlSoft.Desktop/Tag_1.2.0.12/
IvlSoft.Desktop/Tag_1.2.0.12.zip
libs/x64/Clahe.lib
IvlSoft.Desktop/NLog.config
IvlSoft.Desktop/NLog.xsd
IvlSoft.Desktop/packages.config
packages/NLog.4.3.8/NLog.4.3.8.nupkg
packages/NLog.4.3.8/lib/MonoAndroid10/NLog.dll
packages/NLog.4.3.8/lib/MonoAndroid10/NLog.xml
packages/NLog.4.3.8/lib/Xamarin.iOS10/NLog.dll
packages/NLog.4.3.8/lib/Xamarin.iOS10/NLog.xml
packages/NLog.4.3.8/lib/net35/NLog.dll
packages/NLog.4.3.8/lib/net35/NLog.xml
packages/NLog.4.3.8/lib/net40/NLog.dll
packages/NLog.4.3.8/lib/net40/NLog.xml
packages/NLog.4.3.8/lib/net45/NLog.dll
packages/NLog.4.3.8/lib/net45/NLog.xml
packages/NLog.4.3.8/lib/sl4/NLog.dll
packages/NLog.4.3.8/lib/sl4/NLog.xml
packages/NLog.4.3.8/lib/sl5/NLog.dll
packages/NLog.4.3.8/lib/sl5/NLog.xml
packages/NLog.4.3.8/lib/wp8/NLog.dll
packages/NLog.4.3.8/lib/wp8/NLog.xml
packages/NLog.Config.4.3.8/NLog.Config.4.3.8.nupkg
packages/NLog.Config.4.3.8/content/NLog.config
packages/NLog.Config.4.3.8/tools/Install.ps1
packages/NLog.Schema.4.3.8/NLog.Schema.4.3.8.nupkg
packages/NLog.Schema.4.3.8/content/NLog.xsd
packages/repositories.config
IvlSoft.Desktop/ClassDiagram1.cd

libs/x86/Clahe.lib
EEPROM/bin/
EEPROM/obj/
DesignSurfaceExt/DesignSurfaceExt/bin/Debug/Common.dll
DesignSurfaceExt/DesignSurfaceExt/bin/Debug/DesignSurfaceExt2.dll
DesignSurfaceExt/DesignSurfaceExt/bin/Debug/INTUSOFT.Custom.Controls.dll
DesignSurfaceExt/DesignSurfaceExt/bin/Debug/INTUSOFT.EventHandler.dll
DesignSurfaceExt/DesignSurfaceExt/bin/Debug/ImageListView.dll
DesignSurfaceExt/DesignSurfaceExt/bin/Debug/ImageListView.xml
DesignSurfaceExt/DesignSurfaceExt/bin/Debug/ReportUtils.dll
DesignSurfaceExt/DesignSurfaceExt/bin/Debug/ToolBoxLib.dll
DesignSurfaceExt/DesignSurfaceExt/bin/Debug/tr/ImageListView.resources.dll
DesignSurfaceExt/DesignSurfaceExt/obj/Debug/DesignSurfaceExt.csproj.FileListAbsolute.txt
DesignSurfaceExt/DesignSurfaceExt/obj/Debug/DesignSurfaceExt2.dll
DesignSurfaceExt/DesignSurfaceExt/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DesignSurfaceExt/DesignSurfaceExt/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DesignSurfaceExt/DesignSurfaceExt/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DesignSurfaceExt/DesignSurfaceExt/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DesignSurfaceExt/DesignSurfaceExt/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DesignSurfaceExt/DesignSurfaceExt/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DesignSurfaceExt/DesignSurfaceExt/obj/Release/build.force
DesignSurfaceManagerExt/DesignSurfaceManagerExt/bin/Debug/Common.dll
DesignSurfaceManagerExt/DesignSurfaceManagerExt/bin/Debug/DesignSurfaceExt2.dll
DesignSurfaceManagerExt/DesignSurfaceManagerExt/bin/Debug/DesignSurfaceManagerExt.dll
DesignSurfaceManagerExt/DesignSurfaceManagerExt/bin/Debug/INTUSOFT.Custom.Controls.dll
DesignSurfaceManagerExt/DesignSurfaceManagerExt/bin/Debug/INTUSOFT.EventHandler.dll
DesignSurfaceManagerExt/DesignSurfaceManagerExt/bin/Debug/ImageListView.dll
DesignSurfaceManagerExt/DesignSurfaceManagerExt/bin/Debug/ImageListView.xml
DesignSurfaceManagerExt/DesignSurfaceManagerExt/bin/Debug/PdfFileWriter.dll
DesignSurfaceManagerExt/DesignSurfaceManagerExt/bin/Debug/PdfFileWriter.xml
DesignSurfaceManagerExt/DesignSurfaceManagerExt/bin/Debug/ReportUtils.dll
DesignSurfaceManagerExt/DesignSurfaceManagerExt/bin/Debug/ToolBoxLib.dll
DesignSurfaceManagerExt/DesignSurfaceManagerExt/bin/Debug/tr/ImageListView.resources.dll
DesignSurfaceManagerExt/DesignSurfaceManagerExt/obj/Debug/DesignSurfaceManagerExt.CustomPropertyGridHost.resources
DesignSurfaceManagerExt/DesignSurfaceManagerExt/obj/Debug/DesignSurfaceManagerExt.Font_UC.resources
DesignSurfaceManagerExt/DesignSurfaceManagerExt/obj/Debug/DesignSurfaceManagerExt.PropertyGridHost.resources
DesignSurfaceManagerExt/DesignSurfaceManagerExt/obj/Debug/DesignSurfaceManagerExt.csproj.FileListAbsolute.txt
DesignSurfaceManagerExt/DesignSurfaceManagerExt/obj/Debug/DesignSurfaceManagerExt.dll
DesignSurfaceManagerExt/DesignSurfaceManagerExt/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DesignSurfaceManagerExt/DesignSurfaceManagerExt/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DesignSurfaceManagerExt/DesignSurfaceManagerExt/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DesignSurfaceManagerExt/DesignSurfaceManagerExt/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
DesignSurfaceManagerExt/DesignSurfaceManagerExt/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
DesignSurfaceManagerExt/DesignSurfaceManagerExt/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
DesignSurfaceManagerExt/DesignSurfaceManagerExt/obj/Release/build.force
PdfFileWriter_src/PdfFileWriter/PdfFileWriter/bin/Debug/PdfFileWriter.XML
PdfFileWriter_src/PdfFileWriter/PdfFileWriter/bin/Debug/PdfFileWriter.dll
PdfFileWriter_src/PdfFileWriter/PdfFileWriter/obj/Debug/PdfFileWriter.csproj.FileListAbsolute.txt
PdfFileWriter_src/PdfFileWriter/PdfFileWriter/obj/Debug/PdfFileWriter.dll
PdfFileWriter_src/PdfFileWriter/PdfFileWriter/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PdfFileWriter_src/PdfFileWriter/PdfFileWriter/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PdfFileWriter_src/PdfFileWriter/PdfFileWriter/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PdfFileWriter_src/PdfFileWriter/PdfFileWriter/obj/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PdfFileWriter_src/PdfFileWriter/PdfFileWriter/obj/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PdfFileWriter_src/PdfFileWriter/PdfFileWriter/obj/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/bin/x64/Debug/PdfFileWriter.dll
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/bin/x64/Debug/PdfFileWriter.xml
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/bin/x64/Debug/TestPdfFileWriter.exe.config
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Debug/TestPdfFileWriter.DrawGlyphForm.resources
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Debug/TestPdfFileWriter.EnumFontFamilies.resources
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Debug/TestPdfFileWriter.FontInfoForm.resources
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Debug/TestPdfFileWriter.Properties.Resources.resources
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Debug/TestPdfFileWriter.TestPdfFileWriter.resources
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Debug/TestPdfFileWriter.csproj.FileListAbsolute.txt
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Release/TempPE/Properties.Resources.Designer.cs.dll
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Release/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Release/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Release/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Release/TestPdfFileWriter.DrawGlyphForm.resources
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Release/TestPdfFileWriter.EnumFontFamilies.resources
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Release/TestPdfFileWriter.FontInfoForm.resources
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Release/TestPdfFileWriter.Properties.Resources.resources
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Release/TestPdfFileWriter.TestPdfFileWriter.resources
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Release/TestPdfFileWriter.csproj.FileListAbsolute.txt
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/x64/Release/build.force
ReportTemplateCreator/bin/Debug/DesignSurfaceExt2.dll
RulerControl/bin/
DesignSurfaceExt/DesignSurfaceExt/bin/
DesignSurfaceExt/DesignSurfaceExt/obj/
pDesigner/pDesigner/bin/
pDesigner/pDesigner/obj/
ToolBoxLib/bin/
ToolBoxLib/obj/
RulerControl/obj/
ReportTemplateCreator/bin/
ReportTemplateCreator/obj/
PdfFileWriter_src/PdfFileWriter/PdfFileWriter/bin/
PdfFileWriter_src/PdfFileWriter/PdfFileWriter/obj/
LiveModeProcessing/bin/
DesignSurfaceManagerExt/DesignSurfaceManagerExt/bin/
DesignSurfaceManagerExt/DesignSurfaceManagerExt/obj/
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/obj/
IVLConfiguration/obj/
PdfFileWriter_src/PdfFileWriter/TestPdfFileWriter/bin/
IVLConfiguration/bin/Debug/
IVLConfiguration/bin/
/library/x64/Debug/IntuSoftUSBController.pdb
/Annotation/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache

/library/x64/Debug/GlaucomaToolMeasurements.dll
/library/x64/Debug/IntuSoftDemosaic.dll
/library/x64/Debug/IntuSoftUSBController.dll
/library/x64/Debug/IntuSoftUSBController.pdb
/library/x64/Debug/LiveModeProcessing.dll
/library/x64/Debug/vc110.pdb
/library/x64/Release/GlaucomaToolMeasurements.dll
/library/x64/Release/IntuSoftDemosaic.dll
/library/x64/Release/IntuSoftUSBController.dll
/library/x64/Release/LiveModeProcessing.dll
/libs/x64/Debug/Clahe.lib
/libs/x64/Release/Clahe.lib
/Annotation/obj/x64/Debug/DesignTimeResolveAssemblyReferencesInput.cache

/library/x64/Debug/IntuSoftUSBController.dll
/library/x64/Debug/IntuSoftUSBController.pdb
/library/x64/Debug/vc110.pdb
/library/x64/Release/GlaucomaToolMeasurements.dll
/library/x64/Release/IntuSoftDemosaic.dll
/library/x64/Release/IntuSoftUSBController.dll
/library/x64/Release/LiveModeProcessing.dll
/libs/x64/Debug/Clahe.lib
/libs/x64/Release/Clahe.lib
/libs/x86/Release/Clahe.lib
/lib_usb/bin/x64/Debug/libusb_dll_2012.log
/library/x64/Debug/libusb-1.0.dll
/library/x64/Debug/libusb-1.0.lib
/library/x64/Release/libusb-1.0.dll
/library/x86/Debug/libusb-1.0.dll
/libs/x64/Debug/libusb-1.0.lib
/libs/x64/Release/libusb-1.0.lib
/libusb/bin/x64/Debug/cl.command.1.tlog
/libusb/bin/x64/Debug/CL.read.1.tlog
/libusb/bin/x64/Debug/CL.write.1.tlog
/libusb/bin/x64/Debug/core.obj
/libusb/bin/x64/Debug/descriptor.obj
/libusb/bin/x64/Debug/hotplug.obj
/libusb/bin/x64/Debug/io.obj
/libusb/bin/x64/Debug/libusb_dll_2012.log
/libusb/bin/x64/Debug/libusb-1.0 (dll).lastbuildstate
/libusb/bin/x64/Debug/libusb-1.0 (dll).write.1.tlog
/libusb/bin/x64/Debug/libusb-1.0.Build.CppClean.log
/libusb/bin/x64/Debug/libusb-1.0.dll
/libusb/bin/x64/Debug/libusb-1.0.exp
/libusb/bin/x64/Debug/libusb-1.0.ilk
/libusb/bin/x64/Debug/libusb-1.0.lib
/libusb/bin/x64/Debug/libusb-1.0.pdb
/libusb/bin/x64/Debug/libusb-1.0.res
/libusb/bin/x64/Debug/link.command.1.tlog
/libusb/bin/x64/Debug/link.read.1.tlog
/libusb/bin/x64/Debug/link.write.1.tlog
/libusb/bin/x64/Debug/link-cvtres.read.1.tlog
/libusb/bin/x64/Debug/link-cvtres.write.1.tlog
/libusb/bin/x64/Debug/link-rc.read.1.tlog
/libusb/bin/x64/Debug/link-rc.write.1.tlog
/libusb/bin/x64/Debug/poll_windows.obj
/libusb/bin/x64/Debug/rc.command.1.tlog
/libusb/bin/x64/Debug/rc.read.1.tlog
/libusb/bin/x64/Debug/rc.write.1.tlog
/libusb/bin/x64/Debug/strerror.obj
/libusb/bin/x64/Debug/sync.obj
/libusb/bin/x64/Debug/threads_windows.obj
/libusb/bin/x64/Debug/vc110.pdb
/libusb/bin/x64/Debug/windows_nt_common.obj
/libusb/bin/x64/Debug/windows_winusb.obj
/libusb/bin/x64/Release/cl.command.1.tlog
/libusb/bin/x64/Release/CL.read.1.tlog
/libusb/bin/x64/Release/CL.write.1.tlog
/libusb/bin/x64/Release/core.obj
/libusb/bin/x64/Release/descriptor.obj
/libusb/bin/x64/Release/hotplug.obj
/libusb/bin/x64/Release/io.obj
/libusb/bin/x64/Release/libusb_dll_2012.log
/libusb/bin/x64/Release/libusb-1.0 (dll).lastbuildstate
/libusb/bin/x64/Release/libusb-1.0 (dll).write.1.tlog
/libusb/bin/x64/Release/libusb-1.0.Build.CppClean.log
/libusb/bin/x64/Release/libusb-1.0.dll
/libusb/bin/x64/Release/libusb-1.0.exp
/libusb/bin/x64/Release/libusb-1.0.lib
/libusb/bin/x64/Release/libusb-1.0.res
/libusb/bin/x64/Release/link.command.1.tlog
/libusb/bin/x64/Release/link.read.1.tlog
/libusb/bin/x64/Release/link.write.1.tlog
/libusb/bin/x64/Release/link-cvtres.read.1.tlog
/libusb/bin/x64/Release/link-cvtres.write.1.tlog
/libusb/bin/x64/Release/link-rc.read.1.tlog
/libusb/bin/x64/Release/link-rc.write.1.tlog
/libusb/bin/x64/Release/poll_windows.obj
/libusb/bin/x64/Release/rc.command.1.tlog
/libusb/bin/x64/Release/rc.read.1.tlog
/libusb/bin/x64/Release/rc.write.1.tlog
/libusb/bin/x64/Release/strerror.obj
/libusb/bin/x64/Release/sync.obj
/libusb/bin/x64/Release/threads_windows.obj
/libusb/bin/x64/Release/vc110.pdb
/libusb/bin/x64/Release/windows_nt_common.obj
/libusb/bin/x64/Release/windows_winusb.obj
/libusb/bin/x86/Debug/cl.command.1.tlog
/libusb/bin/x86/Debug/CL.read.1.tlog
/libusb/bin/x86/Debug/CL.write.1.tlog
/libusb/bin/x86/Debug/core.obj
/libusb/bin/x86/Debug/descriptor.obj
/libusb/bin/x86/Debug/hotplug.obj
/libusb/bin/x86/Debug/io.obj
/libusb/bin/x86/Debug/libusb_dll_2012.log
/libusb/bin/x86/Debug/libusb-1.0 (dll).lastbuildstate
/libusb/bin/x86/Debug/libusb-1.0 (dll).write.1.tlog
/libusb/bin/x86/Debug/libusb-1.0.dll
/libusb/bin/x86/Debug/libusb-1.0.exp
/libusb/bin/x86/Debug/libusb-1.0.ilk
/libusb/bin/x86/Debug/libusb-1.0.lib
/libusb/bin/x86/Debug/libusb-1.0.pdb
/libusb/bin/x86/Debug/libusb-1.0.res
/libusb/bin/x86/Debug/link.command.1.tlog
/libusb/bin/x86/Debug/link.read.1.tlog
/libusb/bin/x86/Debug/link.write.1.tlog
/libusb/bin/x86/Debug/link-cvtres.read.1.tlog
/libusb/bin/x86/Debug/link-cvtres.write.1.tlog
/libusb/bin/x86/Debug/link-rc.read.1.tlog
/libusb/bin/x86/Debug/link-rc.write.1.tlog
/libusb/bin/x86/Debug/poll_windows.obj
/libusb/bin/x86/Debug/rc.command.1.tlog
/libusb/bin/x86/Debug/rc.read.1.tlog
/libusb/bin/x86/Debug/rc.write.1.tlog
/libusb/bin/x86/Debug/strerror.obj
/libusb/bin/x86/Debug/sync.obj
/libusb/bin/x86/Debug/threads_windows.obj
/libusb/bin/x86/Debug/vc110.pdb
/libusb/bin/x86/Debug/windows_nt_common.obj
/libusb/bin/x86/Debug/windows_winusb.obj
/libusb/bin/x64/Debug/link.6684.read.1.tlog
/libusb/bin/x64/Debug/link.6684.write.1.tlog
/libusb/bin/x64/Debug/link.6684-cvtres.read.1.tlog
/libusb/bin/x64/Debug/link.6684-cvtres.write.1.tlog
/libusb/bin/x64/Debug/link.6684-rc.read.1.tlog
/libusb/bin/x64/Debug/link.6684-rc.write.1.tlog
/us.stackdump
/library/x86/Debug/GlaucomaToolMeasurements.dll
/library/x86/Debug/IntuSoftDemosaic.dll
/library/x86/Debug/IntuSoftUSBController.dll
/library/x86/Debug/LiveModeProcessing.dll
/libs/x86/Debug/Clahe.lib
/libs/x86/Debug/libusb-1.0.lib
/libusb/bin/x86/Debug/link.8220.read.1.tlog
/libusb/bin/x86/Debug/link.8220.write.1.tlog
/libusb/bin/x86/Debug/link.8220-cvtres.read.1.tlog
/libusb/bin/x86/Debug/link.8220-cvtres.write.1.tlog
/libusb/bin/x86/Debug/link.8220-rc.read.1.tlog
/libusb/bin/x86/Debug/link.8220-rc.write.1.tlog
/libs/x86/Debug/Clahe.lib
/libs/x86/Debug/Clahe.lib
/CameraApiTest/bin/x64/Debug/Common.pdb
/CameraApiTest/bin/x64/Debug/concrt140.dll
/CameraApiTest/bin/x64/Debug/cvextern.dll
/CameraApiTest/bin/x64/Debug/EEPROM.dll
/CameraApiTest/bin/x64/Debug/EEPROM.pdb
/CameraApiTest/bin/x64/Debug/Emgu.CV.UI.dll
/CameraApiTest/bin/x64/Debug/Emgu.CV.UI.GL.dll
/CameraApiTest/bin/x64/Debug/Emgu.CV.UI.resources.dll
/CameraApiTest/bin/x64/Debug/Emgu.CV.World.dll
/CameraApiTest/bin/x64/Debug/GlaucomaToolMeasurements.dll
/CameraApiTest/bin/x64/Debug/INTUCAM45_3MP.dll
/CameraApiTest/bin/x64/Debug/INTUSOFT.Configuration.dll
/CameraApiTest/bin/x64/Debug/INTUSOFT.Configuration.pdb
/CameraApiTest/bin/x64/Debug/INTUSOFT.EventHandler.dll
/CameraApiTest/bin/x64/Debug/INTUSOFT.EventHandler.pdb
/CameraApiTest/bin/x64/Debug/INTUSOFT.Imaging.dll
/CameraApiTest/bin/x64/Debug/INTUSOFT.Imaging.pdb
/CameraApiTest/bin/x64/Debug/IntuSoftDemosaic.dll
/CameraApiTest/bin/x64/Debug/IntuSoftUSBController.dll
/CameraApiTest/bin/x64/Debug/IVLConfig.xml
/CameraApiTest/bin/x64/Debug/libusb-1.0.dll
/CameraApiTest/bin/x64/Debug/LiveModeProcessing.dll
/CameraApiTest/bin/x64/Debug/logs/2017-11-15/ExceptionLog.csv
/CameraApiTest/bin/x64/Debug/logs/2017-11-15/FrameEventLog.csv
/CameraApiTest/bin/x64/Debug/logs/2017-11-17/ExceptionLog.csv
/CameraApiTest/bin/x64/Debug/logs/2017-11-17/FrameEventLog.csv
/CameraApiTest/bin/x64/Debug/lut.csv
/CameraApiTest/bin/x64/Debug/msvcp140.dll
/CameraApiTest/bin/x64/Debug/nLog.config
/CameraApiTest/bin/x64/Debug/NLog.dll
/CameraApiTest/bin/x64/Debug/opencv_calib3d320.dll
/CameraApiTest/bin/x64/Debug/opencv_core320.dll
/CameraApiTest/bin/x64/Debug/opencv_features2d320.dll
/CameraApiTest/bin/x64/Debug/opencv_ffmpeg320_64.dll
/CameraApiTest/bin/x64/Debug/opencv_flann320.dll
/CameraApiTest/bin/x64/Debug/opencv_highgui320.dll
/CameraApiTest/bin/x64/Debug/opencv_imgcodecs320.dll
/CameraApiTest/bin/x64/Debug/opencv_imgproc320.dll
/CameraApiTest/bin/x64/Debug/opencv_ml320.dll
/CameraApiTest/bin/x64/Debug/opencv_objdetect320.dll
/CameraApiTest/bin/x64/Debug/opencv_photo320.dll
/CameraApiTest/bin/x64/Debug/opencv_shape320.dll
/CameraApiTest/bin/x64/Debug/opencv_stitching320.dll
/CameraApiTest/bin/x64/Debug/opencv_superres320.dll
/CameraApiTest/bin/x64/Debug/opencv_video320.dll
/CameraApiTest/bin/x64/Debug/opencv_videoio320.dll
/CameraApiTest/bin/x64/Debug/opencv_videostab320.dll
/CameraApiTest/bin/x64/Debug/System.Data.SQLite.dll
/CameraApiTest/bin/x64/Debug/vcruntime140.dll
/CameraApiTest/bin/x64/Release/CameraApiTest.exe
/CameraApiTest/bin/x64/Release/CameraApiTest.exe.config
/CameraApiTest/bin/x64/Release/CameraApiTest.pdb
/CameraApiTest/bin/x64/Release/CameraApiTest.vshost.exe
/CameraApiTest/bin/x64/Release/CameraApiTest.vshost.exe.config
/CameraApiTest/bin/x64/Release/CameraApiTest.vshost.exe.manifest
/CameraApiTest/bin/x64/Release/Common.dll
/CameraApiTest/bin/x64/Release/Common.pdb
/CameraApiTest/bin/x64/Release/concrt140.dll
/CameraApiTest/bin/x64/Release/cvextern.dll
/CameraApiTest/bin/x64/Release/EEPROM.dll
/CameraApiTest/bin/x64/Release/EEPROM.pdb
/CameraApiTest/bin/x64/Release/Emgu.CV.UI.dll
/CameraApiTest/bin/x64/Release/Emgu.CV.UI.GL.dll
/CameraApiTest/bin/x64/Release/Emgu.CV.UI.resources.dll
/CameraApiTest/bin/x64/Release/Emgu.CV.World.dll
/CameraApiTest/bin/x64/Release/GlaucomaToolMeasurements.dll
/CameraApiTest/bin/x64/Release/INTUCAM45_3MP.dll
/CameraApiTest/bin/x64/Release/INTUSOFT.Configuration.dll
/CameraApiTest/bin/x64/Release/INTUSOFT.Configuration.pdb
/CameraApiTest/bin/x64/Release/INTUSOFT.EventHandler.dll
/CameraApiTest/bin/x64/Release/INTUSOFT.EventHandler.pdb
/CameraApiTest/bin/x64/Release/INTUSOFT.Imaging.dll
/CameraApiTest/bin/x64/Release/INTUSOFT.Imaging.pdb
/CameraApiTest/bin/x64/Release/IntuSoftDemosaic.dll
/CameraApiTest/bin/x64/Release/IntuSoftUSBController.dll
/CameraApiTest/bin/x64/Release/IVLConfig.xml
/CameraApiTest/bin/x64/Release/libusb-1.0.dll
/CameraApiTest/bin/x64/Release/LiveModeProcessing.dll
/CameraApiTest/bin/x64/Release/logs/2017-11-15/ExceptionLog.csv
/CameraApiTest/bin/x64/Release/logs/2017-11-15/FrameEventLog.csv
/CameraApiTest/bin/x64/Release/logs/2017-11-16/ExceptionLog.csv
/CameraApiTest/bin/x64/Release/logs/2017-11-16/FrameEventLog.csv
/CameraApiTest/bin/x64/Release/logs/2017-11-17/ExceptionLog.csv
/CameraApiTest/bin/x64/Release/logs/2017-11-17/FrameEventLog.csv
/CameraApiTest/bin/x64/Release/lut.csv
/CameraApiTest/bin/x64/Release/msvcp140.dll
/CameraApiTest/bin/x64/Release/nLog.config
/CameraApiTest/bin/x64/Release/NLog.dll
/CameraApiTest/bin/x64/Release/opencv_calib3d320.dll
/CameraApiTest/bin/x64/Release/opencv_core320.dll
/CameraApiTest/bin/x64/Release/opencv_features2d320.dll
/CameraApiTest/bin/x64/Release/opencv_ffmpeg320_64.dll
/CameraApiTest/bin/x64/Release/opencv_flann320.dll
/CameraApiTest/bin/x64/Release/opencv_highgui320.dll
/CameraApiTest/bin/x64/Release/opencv_imgcodecs320.dll
/CameraApiTest/bin/x64/Release/opencv_imgproc320.dll
/CameraApiTest/bin/x64/Release/opencv_ml320.dll
/CameraApiTest/bin/x64/Release/opencv_objdetect320.dll
/CameraApiTest/bin/x64/Release/opencv_photo320.dll
/CameraApiTest/bin/x64/Release/opencv_shape320.dll
/CameraApiTest/bin/x64/Release/opencv_stitching320.dll
/CameraApiTest/bin/x64/Release/opencv_superres320.dll
/CameraApiTest/bin/x64/Release/opencv_video320.dll
/CameraApiTest/bin/x64/Release/opencv_videoio320.dll
/CameraApiTest/bin/x64/Release/opencv_videostab320.dll
/CameraApiTest/bin/x64/Release/System.Data.SQLite.dll
/CameraApiTest/bin/x64/Release/vcruntime140.dll
/CameraApiTest/bin/x64/Debug/CameraApiTest.exe
/CameraApiTest/bin/x64/Debug/CameraApiTest.exe.config
/CameraApiTest/bin/x64/Debug/CameraApiTest.pdb
/CameraApiTest/bin/x64/Debug/CameraApiTest.vshost.exe
/CameraApiTest/bin/x64/Debug/CameraApiTest.vshost.exe.config
/CameraApiTest/bin/x64/Debug/Common.dll
/CameraApiTest/obj/
/libs/x86/Release
/library/x64/GlaucomaToolMeasurements.dll
/library/x64/IntuSoftDemosaic.dll
/library/x64/IntuSoftUSBController.dll
/library/x64/IntuSoftUSBController.pdb
/library/x64/libusb-1.0.dll
/library/x64/LiveModeProcessing.dll
/library/x64/vc110.pdb
/library/x86/Release/GlaucomaToolMeasurements.dll
/library/x86/Release/IntuSoftDemosaic.dll
/library/x86/Release/IntuSoftUSBController.dll
/library/x86/Release/libusb-1.0.dll
/library/x86/Release/LiveModeProcessing.dll
/libs/x64/Clahe.lib
/libs/x64/libusb-1.0.lib
/libusb/bin/
/libs/x64/libusb-1.0.lib
/CameraApiTest/bin/
/packages/
/library/x86/GlaucomaToolMeasurements.dll
/library/x86/IntuSoftDemosaic.dll
/library/x86/IntuSoftUSBController.dll
/library/x86/IntuSoftUSBController.pdb
/library/x86/LiveModeProcessing.dll
/library/x86/vc110.pdb
/library/x64/Release
/IvlSoft.Desktop/IvlSoft.Desktop.csproj.user
/library/x64/Debug/
/ClassLibrary1
/RestClient/
/RulerControl/IVLReport/bin/
/RulerControl/IVLReport/obj/
/AdobeCheckOSVersionInfo/bin/
/AdobeCheckOSVersionInfo/obj/
/.vs/
/libusb/libusb_dll_2012.vcxproj.user
/Clahe/Clahe.vcxproj.user
/Camera/CameraModule.csproj.user
/WindowsFormsApplication1/AssemblySoftware.csproj.user
/BaseViewModel/bin/
/BaseViewModel/obj/
/Cloud_Models/bin/
/Cloud_Models/obj/
/IVLUploader/bin/
/IVLUploader/obj/
/ImageListView/bin/
/ImageListView/obj/
/ImageListView/ImageListView.cs.bak
/IVLUploaderTestProject/bin/
/IVLUploaderTestProject/obj/
/.vscode/
/CreateOrAlterDB/bin/
/CreateOrAlterDB/obj/
/WPF_UserControlLibrary/bin/
/WPF_UserControlLibrary/obj/
